@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
	width: 100%;
	font-family: 'Roboto Mono';
	color: #ffffff;
	background: #2D2E32 url(../public/images/bg-body.png) top right no-repeat;
}
