{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "extends": ["standard-with-typescript", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/triple-slash-reference": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/restrict-template-expressions": "warn"
  }
}