---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  iconName: string;
  tldr: string;
}

const { title, iconName, tldr } = Astro.props as Props;
---

<div class="about-cards-unit">
  <div class="about-cards-unit-text">
    <span class="about-cards-unit_title">
      {title} <Icon name={iconName} />
    </span>
    <p>{tldr}</p>
  </div>
  <a href="">clients</a>
</div>
