---
// dependency imports
import { Icon } from "astro-icon/components";
---

  <footer class="footer">
    Built with <Icon name="mdi:cards-heart" class="footer-icon-heart" size={14} /> and <Icon name="devicon-plain:astro" class="footer-icon-astro" size={16} /> by <a href="" class="footer-link-name">Sinésio Neto</a>
  </footer>
