---
// dependency imports
import { Icon } from "astro-icon/components";
---

<footer class="footer">
  Built with
  <Icon name="devicon-plain:astro" class="footer-icon-astro" size={16} />
  by <a href="" class="link">Sinésio Neto</a>
</footer>
