---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id="contact">
  <div>
    <h2>{t("contact.title")}</h2>
    <h3>{t("contact.sub")}</h3>
    <p>
      {t("contact.tldr")}
    </p>
    <a class="button-md">{t("contact.button")}</a>
  </div>
</section>
