---

---
<section id="contact">
  <div>
    <h2>04. What's Next?</h2>
    <h3>Get In Touch</h3>
    <p>
      Estou em busca de novas oportunidades no momento, minha caixa de entrada está sempre aberta. Se você tiver alguma dúvida, proposta ou quer apenas dizer "olá", sinta-se a vontade para me contatar. Farei o possível para lhe responder!
    </p>
    <a class="button-md">Contate-me!</a>
  </div>
</section>
