---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id="hero">
  <div class="hero-header">
    <h1><span>{t("hero.hi")}</span> Sinésio Neto</h1>
    <h2>{t("hero.sub")}</h2>
  </div>
  <div class="hero-tldr">
    <slot name="hero-content" />
  </div>
  <a class="button-md" href="#experience">
    {t("hero.button")}
  </a>
</section>
