---
---
<section id="hero">
  <div class="hero-header">
    <h1><span>Olá! Me chamo</span> Sinésio Neto</h1>
    <h2>E tenho satisfação em construir soluções web.</h2>
  </div>
  <div class="hero-tldr">
    <slot name="hero-content" />
  </div>
  <a class="button-md" href="#experience">Veja minha experiência</a>
</section>
