---
import { metadata } from "@/data/site-content";

interface Props {
  workingAt: string;
  workingAtUrl: string;
}

const { workingAt, workingAtUrl } = Astro.props as Props;
---
<section id="hero">
  <div class="hero-header"> 
    <h1><span>Hi! I'm</span> Sinésio Neto</h1>
    <h2>I enjoy build web solutions.</h2>
  </div>
  <div class="hero-tldr">
    <p>
      {metadata.heroText} <a class="link" href={metadata.currentWork.website} target="_blank" rel="noreferrer">{metadata.currentWork.company}</a>.
    </p>
  </div>
  <a class="button-md" href="#experience">Checkout my experience</a>
</section>
