---
---
<section id="hero">
  <div class="hero-header"> 
    <h1><span>Hi! I'm</span> Sinésio Neto</h1>
    <h2>I enjoy build web solutions.</h2>
  </div>
  <div class="hero-tldr">
    <slot name="hero-content" />
  </div>
  <a class="button-md" href="#experience">Checkout my experience</a>
</section>
