---
// dependency import
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/Footer.astro";

// component imports
import Navbar from "@/components/Navbar.astro";

// style import
import "@/styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Sinésio Neto - Professional portfolio" } =
  Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
   	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
   	<link rel="icon" href="/favicon.ico" />
   	<meta name="viewport" content="width=device-width" />
   	<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <Font cssVariable="--font-roboto-mono" />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body id="root">
    <div id="base">
      <Navbar />
      <div id="content">
        <slot />
        <Footer />

        <!-- Overlay -->
        <div id="nav-overlay" class="nav-overlay"></div>
      </div>
    </div>
  </body>
</html>
